* {
    margin: auto;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 3rem;
    color: #ff0000;
    text-shadow: 3px 3px 1px #000;
}

h2, div.subtitle{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 3rem;
    color: #ff0000;
    text-shadow: 3px 0 #000, 0 2px #000,
    1px 0 #000, 0 -1px #000;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    background-color: rgba(0,0,0,0);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;
}

#navbar a {
    text-decoration: none;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 40px;
    padding-left: 40px;
    color: #000;
    font-family: 'Monserrat', cursive;
    font-size: 30px;
}

#navbar a:hover {
    background-color: #696969;
    text-decoration: none;
    padding-bottom: 27px;
    padding-top: 27px;
}

ul{
    list-style-type: none;
}

body{
    font-family: 'Monserrat', sans-serif;
    background-color:#fff;
    color: #000;
}

a {
    color: #fff;
    font-size: 0.7em;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.big-container {
    margin-top: 4rem;
    display: flex;
}


@media only screen and (min-width: 768px) {



}