* {
    margin: 0;
    padding: 0;
    font-family: 'Monserrat', cursive;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 3rem;
    color: #ff0000;
    text-shadow: 3px 3px 1px #000;
}

h2, div.subtitle{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 3rem;
    color: #ff0000;
    text-shadow: 3px 0 #000, 0 2px #000,
    1px 0 #000, 0 -1px #000;
}

ul{
    list-style-type: none;
}

body{
    font-family: 'Monserrat', cursive;
    background-color:#fff;
    color: #000;
    background-image: url("https://cdn.allwallpaper.in/wallpapers/706x400/280/blue-minimalistic-dark-multicolor-textures-windows-8-backgrounds-706x400-wallpaper.jpg");
    background-size: cover;
}

nav ul a {
    color: #fff;
    font-size: 0.7em;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

h3 {
    text-align: center;
}

div.titlePerf {
    background-color: #ffffff;
    margin-left: 37rem;
    text-align: center;
    border-radius: 1.5rem;
    border: 1px solid #000;
    width: 14rem;
    height: 2rem;
    color: #ffffff;
}

div.titlePerf a {
    text-decoration: none;
    color: #000;
}

i {
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    color: #ff0000;
}

.grid-container {
    display: grid;
    margin: auto;
    width: 80%;
    margin-top: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "first second third";
}

.first {
    grid-area: first;
    padding-left: 6rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.first h3 {
    padding-right: 8rem;
}

.second h3 {
    padding-right: 8rem;
}

.third h3 {
    padding-right: 8rem;
}

.second {
    grid-area: second;
    margin-left: 3.5rem;
}

.third {
    grid-area: third;
    margin-left: 2rem;

}

.grid-container1 {
    display: grid;
    margin-top: 6rem;
    margin-left: 3rem;
    align-content: flex-end;
    height: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "wildCircus wcs linkedin github franceIoI date";
}

.grid-container1 a{
    color: #fff;
}

.wildCircus {
    grid-area: wildCircus;
}

.wcs {
    grid-area: wcs; }

.linkedin {
    grid-area: linkedin; }

.github {
    grid-area: github; }

.franceIoI {
    grid-area: franceIoI; }

.date {
    grid-area: date; }

div.wcs a, div.linkedin a,div.github a, div.franceIoI a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

div.wildCircus p, div.date p{
    font-weight: bold;
    color: #fff;
}

div.grid-container div p {
    margin: 2em;
    margin-left: 1em;
}

.titlePerf {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
    grid-template-areas: "none photo aboutUs nothing";
}

.none { grid-area: none; }

.nothing { grid-area: nothing; }

.photo { grid-area: photo; }

.aboutUs { grid-area: aboutUs; }


div.photo img {
    border-radius: 2rem;
    height: 25rem;
    width: 15rem;
}

.logo {
    width: 6rem;
}

.grid-container3 {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "icon perform About price contactUs";
}

img.logo {
    margin-top: 0;
    margin-left: 1rem;
}

div.price a, div.perform a, div.about a, div.contactUs a{
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    font-family: 'Monserrat', cursive;
}

.icon { grid-area: icon; }

.About { grid-area: About; }

.perform { grid-area: perform; }

.price { grid-area: price; }

.contactUs { grid-area: contactUs; }

div.grid-container div h3  {
    color: #fff;
}

div.grid-container div p {
    color: #fff;
}

@media only screen and (min-width: 768px) {

}