<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajout d'un Article</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/add-article.css">
</head>
<body>
<header th:fragment="nav-barCircus">
    <ul>
        <div class="grid-container3">
            <div class="icon">
                <a href="/"><img class="logo" src="images/wildcircus-logo.jpg"></a>
            </div>
            <div class="perform">
                <a href="#Perf">Performances</a>
            </div>
            <div class="about">
                <a href="#AboutUs">À propos</a></div>
            <div class="price">
                <a href="/price-contact">Prix</a></div>
            <div class="contactUs">
                <a href="/price-contact">Contact</a></div>
        </div>
    </ul>
</header>
</body>
</html>