<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prix et Réservation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="../static/price-contact.css">
</head>
    <h2 class="price">Prix</h2>
    <div class="tablePrice">
        <table style="text-align:center">
            <thead>
            <tr>
                <th class="hidden"></th>
                <th>Adultes</th>
                <th>Enfants < 10 ans</th>
                <th>Groupes > 10 personnes</th>
                <th>Écoles</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="weeks-off">Semaines hors mercredi</td>
                <td>20 €</td>
                <td>15 €</td>
                <td>13 €</td>
                <td>10 €</td>
            </tr>
            <tr>
                <td id="weeks-and">week-end et mercredi</td>
                <td>25 €</td>
                <td>20 €</td>
                <td>18 €</td>
                <td>10 €</td>
            </tr>
            </tbody>
    </table>
    </div>
    <h2>Réservation ou Contact</h2>
        <form action="/" method="post">
            <div>
                <label for="name">Nom&Prénom</label>
                <input type="text" id="name" name="user_name">
            </div>
            <div>
                <label for="mail">E-mail</label>
                <input type="email" id="mail" name="user_mail">
            </div>
            <div>
                <label for="msg">Message</label>
                <textarea id="msg" name="user_message" placeholder="Vous pouvez écrire ici."></textarea>
            </div>
            <input type="submit" name="send" value="Envoyer">
        </form>
</body>
</html>