<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prix et Réservation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/style.css">

</head>
    <h2>Prix</h2>
    <div class="tablePrice">
        <table style="text-align:center">
            <thead>
            <tr>
                <th class="hidden"></th>
                <th>Adults</th>
                <th>Enfants de -10ans</th>
                <th>Groupes de +10 de personnes</th>
                <th>Écoles</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="weeks-off">Semaines hors mercredi</td>
                <td>20 €</td>
                <td>15 €</td>
                <td>13 €</td>
                <td>10 €</td>
            </tr>
            <tr>
                <td id="weeks-and">week-end et mercredi</td>
                <td>25 €</td>
                <td>20 €</td>
                <td>18 €</td>
                <td>10 €</td>
            </tr>
            </tbody>
    </table>
    </div>
    <h2>Réservation ou Contact</h2>

</body>
</html>